syntax: glob
*.nupkg
*~
build/
*.orig
*.rej

cc65-compiler/caketools/*
cc65-compiler/tools/*
!cc65-compiler/tools/chocolateyInstall.ps1

applewin/caketools/*
applewin/tools/*

winvice-nightly/caketools/*
winvice-nightly/tools/*
bin/
obj/


