syntax: glob
*.nupkg
*~
cc65-compiler/build
cc65-compiler/caketools/*
!cc65-compiler/caketools/packages.config
cc65-compiler/tools/*
!cc65-compiler/tools/chocolateyInstall.ps1
winvice-nightly/caketools/*
!winvice-nightly/caketools/packages.config
winvice-nightly/tools/*
!winvice-nightly/tools/chocolateyInstall.ps1
bin/
obj/

